name: update from website

on: [ workflow_dispatch ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas
          pip install mojimoji
          pip install beautifulsoup4
          pip install requests
          pip install xlrd
          pip install openpyxl
      - name: Clone covid19 for each branches
        run: |
          for branch in development staging master; do
            git clone --depth 1 -b ${branch} https://Terachan0117:${{ secrets.GITHUB_TOKEN }}@github.com/Terachan0117/covid19-toyama ${branch}
          done
      - name: Batch
        env:
          TZ: Asia/Tokyo
        run: |
          cd development/tool
          python update_from_website.py
          cd ../..
      - name: Copy data to each branches
        run: |
          for branch in staging master; do
            cp development/data/* ${branch}/data
          done
      - name: Commit and push
        run: |
          git config --global user.email "bot@example.com"
          git config --global user.name "Data Updator"
          for branch in development staging master; do
            cd ${GITHUB_WORKSPACE}/${branch} && git add . && git status -s | [[ -z `cat` ]] || git commit -m "update data" && git push origin ${branch}
          done

      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - run: yarn install --frozen-lockfile
      - run: yarn run test
      - run: yarn run generate:deploy

      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: production
